<a href="https://colab.research.google.com/github/MikhailDSince/MikhailDSince/blob/main/to_mindbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
#Функция для вывода числа клиетов в группах, начиная с 0.
import pandas as pd
def count_customers(n_customers:int):
  #count = 0
  data = pd.DataFrame(columns = ['group_name', 'count'])
  for i in range(n_customers + 1):
    group = 0
    j = i
    while (j != 0):
      group = group + j % 10
      j = j // 10
    data.loc[i] = [group, 1]
  data_group = data.groupby("group_name")["count"].sum()
  data_group = data_group.sort_index()
  return data_group

In [94]:
count_customers(1000)

group_name
0      1
1      4
2      6
3     10
4     15
5     21
6     28
7     36
8     45
9     55
10    63
11    69
12    73
13    75
14    75
15    73
16    69
17    63
18    55
19    45
20    36
21    28
22    21
23    15
24    10
25     6
26     3
27     1
Name: count, dtype: object

In [112]:
#Функция для вывода числа клиетов в группах, начиная с n_first_id.
import pandas as pd
def count_customers_id(n_customers:int, n_first_id:int):
  #count = 0
  data = pd.DataFrame(columns = ['group_name', 'count']) 
  for i in range(n_first_id, n_first_id + n_customers + 1):
    group = 0
    j = i
    while (j != 0):
      group = group + j % 10
      j = j // 10
    data.loc[i] = [group, 1]
  data_group = data.groupby("group_name")["count"].sum()
  data_group = data_group.sort_index()
  return data_group

In [116]:
count_customers_id(100, 123450)

group_name
11     1
12     2
13     3
14     4
15     6
16     8
17     8
18     9
19    10
20    10
21     9
22     8
23     7
24     6
25     4
26     3
27     2
28     1
Name: count, dtype: object