<a href="https://colab.research.google.com/github/MikhailDSince/MikhailDSince/blob/main/to_mindbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
i = 0
group = 0
while (i != 0):
    group = group + i % 10
    i = i // 10
group

0

In [91]:
import pandas as pd
def count_customers(n_customers:int):
  #count = 0
  data = pd.DataFrame(columns = ['group_name', 'count'])
  for i in range(n_customers + 1):
    group = 0
    j = i
    while (j != 0):
      group = group + j % 10
      j = j // 10
    data.loc[i] = [group, 1]
  data_group = data.groupby("group_name")["count"].sum()
  data_group = data_group.sort_index()
  return data_group

In [94]:
count_customers(1000)

group_name
0      1
1      4
2      6
3     10
4     15
5     21
6     28
7     36
8     45
9     55
10    63
11    69
12    73
13    75
14    75
15    73
16    69
17    63
18    55
19    45
20    36
21    28
22    21
23    15
24    10
25     6
26     3
27     1
Name: count, dtype: object

In [110]:
import pandas as pd
def count_customers_id(n_customers:int, n_first_id:int):
  #count = 0
  data = pd.DataFrame(columns = ['group_name', 'count']) 
  for i in range(n_first_id, n_first_id + n_customers + 1):
    group = 0
    j = i
    while (j != 0):
      group = group + j % 10
      j = j // 10
    data.loc[i] = [group, 1]
  data_group = data.groupby("group_name")["count"].sum()
  data_group = data_group.sort_index()
  return data

In [111]:
count_customers_id(500, 400)

    group_name count
400          4     1
401          5     1
402          6     1
403          7     1
404          8     1
..         ...   ...
896         23     1
897         24     1
898         25     1
899         26     1
900          9     1

[501 rows x 2 columns]